<h1><center>Лабораторна робота 1.</center></h1>
<h2><center>Аналіз доходу населення за набором даних Adult Data Set</center></h2>

У лабораторній роботі пропонується за допомогою Pandas відповісти на кілька запитань за набором даних [Adult](https://archive.ics.uci.edu/ml/datasets/adult) сховища UCI.

Унікальні значення ознак набору даниз Adult Data Set (більше інформації в описі [Adult](https://archive.ics.uci.edu/ml/datasets/adult)):

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

Завантажимо `Pandas` та переглянемо вміст набору даних.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

З використанням функцій `Pandas`, що були розглянуті в лекції №1, дайте відповіді на такі запитання.

**1. Яка кількість чоловіків і жінок (ознака *sex*) подано в цьому наборі даних?**

In [2]:
# Ваш код тут

**2. Який середній вік (ознака *age*) жінок?**

In [ ]:
# Ваш код тут

**3. Яка частка громадян Німеччини (ознака *native-country*)? в наборі даних**

In [ ]:
# Ваш код тут

**4. Які середні значення і середньоквадратичні відхилення віку тих, хто отримує зарплату більше 50K на рік(ознака *salary*)?**

In [ ]:
# Ваш код тут

**5. Які середні значення і середньоквадратичні відхилення віку тих, хто отримує зарплату менше 50K на рік (ознака *salary*)?**

In [ ]:
# Ваш код тут

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (Ознака *education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* або *Doctorate*)**

In [ ]:
# Ваш код тут

**7. Виведіть статистику віку для кожної раси (ознака *race*) та кожної статі. Використовуйте *groupby* і *describe*. Знайдіть у такий спосіб максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [ ]:
# Ваш код тут

**8. Хто заробляє більше (>50K): одружені чи неодружені чоловіки (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent або Married-AF-spouse), інших вважаємо холостими.**

In [ ]:
# Ваш код тут

**9. Яка максимальна кількість годин людина працює на тиждень (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?**

In [ ]:
# Ваш код тут

**10. Обрахуйте середній час роботи (*hours-per-week*) тих, що заробляють мало і багато (*salary*) для кожної країни (*native-country*).**

In [ ]:
# Ваш код тут